.active-step{
    display:block;
}

.inactive-step{
    display:none;
}

.fp-buttons {
    display:flex;
    margin-top: 2vw;
    margin-bottom:2.5vw;
    justify-content: space-between;
}
  
.fp-buttons button{
    padding: 0.5vw;
    display:block;
    margin:auto;
    margin-bottom:0.5vw;
    width:8vw;
    border-radius: 0.6vw;
  }

  @media screen and (min-width: 1080px){
    .fp-container {
      background-color: var(--SecondaryColor);
      border-radius: 0.6vw;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 25vw;
      height: 27vw;
      padding:2.5vw;
      margin:auto;
      align-items: center;
      margin-top: 5vw;
    }
    
    .fp-container2 {
      background-color: var(--SecondaryColor);
      border-radius: 0.6vw;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 25vw;
      height: 32vw;
      padding:2.5vw;
      margin:auto;
      align-items: center;
      margin-top: 5vw;
    }
  }

@media screen and (min-width:1368px){
.fp-container {
    background-color: var(--SecondaryColor);
    border-radius: 0.6vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25vw;
    height: 21vw;
    padding:5vh;
    margin:auto;
    align-items: center;
    margin-top: 5vw;
  }
  
  .fp-container2 {
    background-color: var(--SecondaryColor);
    border-radius: 0.6vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25vw;
    height: 25vw;
    padding:5vh;
    margin:auto;
    align-items: center;
    margin-top: 5vw;
  }
}
  .red-btn {
    background-color: #8c3a3f;
    color: #f4c108;
    font-weight: 600;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  
  .red-btn:hover {
    background-color: #4d0005;
    transition: background-color 0.3s;
  }
  
  .yellow-btn {
    background-color: #f4c108;
    color: #8c3a3f;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .yellow-btn:hover {
    background-color: #ffc800;
    transition: background-color 0.3s;
  }
  
