#days{
    border-style: none;
    padding:1vw;
    width:15vw;
    height:3.5vw;
    border-radius: 1vw;
}

#reportsTable{
    transform:scale(0.9);
}

#dlButton {
    margin-left:43vw;
    font-size: 1vw;
    border-radius: 20px;
    width: 14vw;
    font-weight: 700;
    color: var(--MainYellow);
    border: 0;
    background-color: var(--PrimaryColor);
    height: 2.2vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}