.dtitle h1{
  text-align: center;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}
  
.dtitle{
    margin-top: 60px;
    margin-bottom: 40px;
}
  
.dsub-title1 {
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-bottom: 40px;
}

.dsub-title2 {
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-bottom: 40px;
}

.goldbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBF00;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 1%;
    top: 0;
    position: relative;
}

.graybox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 45px;
    top: 0;
    position: relative;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12%;
    height: 30px;
    top: 0;
    position: relative;
    margin-left: 50px;
    color: #FFBF00;
    font-size: 1.0rem;
    font-family: 'Poopins', sans-serif;
    font-weight: 200;
    border-radius: 5px;
    border: none;
}

.box1:hover {
    background-color: #bf1a1a;
    transition: background-color 0.3s;
    text-decoration: underline solid 2px;
  }

.rtop {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
}

.rtop .user {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    margin-left: 60px;
}

.logout {
    background-color: transparent;
    border: none;
    color: #4f44a0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    position: fixed;
    right: 0;
    margin-right: 60px;
}

.logout:hover {
    transition: background-color 0.3s;
    text-decoration: underline solid 2px;
  }