.pr-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12%;
    height: 30px;
    top: 0;
    position: relative;
    margin-left: 50px;
    color: #FFBF00;
    font-size: 1.0rem;
    font-family: 'Poopins', sans-serif;
    font-weight: 200;
    border-radius: 5px;
    border: solid #bf1a1a;
    text-decoration: underline;
}

.whitebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    top: 0;
    position: relative;
    margin-top: 100px;
    flex-direction: column;
}

.prbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16%;
    height: 60px;
    top: 0;
    position: relative;
    margin-left: 10px;
    color: #FFBF00;
    font-size: 1.0rem;
    font-family: 'Poopins', sans-serif;
    font-weight: 200;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.prbox1:hover {
    background-color: #bf1a1a;
    transition: background-color 0.3s;
    text-decoration: underline solid 1.5px;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.size-option {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.size-option:hover {
    background-color: #f1f1f1;
}