.doc-requests {
    padding: 10px;
    border: 1.5px solid transparent;
    border-image: linear-gradient(to right, #800000, #FFBF00); 
    border-image-slice: 1;
    width: 86%;
    height: 70%;
    background-color: transparent;
    margin-left: 130px;
    margin-top: 20px;
    overflow-y: auto;
}

.labels {
    height: 5%;
    width: 100%;
    background-color: #FFBF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: transparent;
    border-right: 2px solid #000;
    border-top: none;
    border-bottom: none;
    margin-right: 5px;
    margin-left: 15px;
}

.label-1 h1 {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    font-weight: 200;
}

.label-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: transparent;
    border-right: 2px solid #000;
    border-top: none;
    border-bottom: none;
    margin-right: 5px;
}

.label-2 h1 {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    font-weight: 200;
}

.label-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    background-color: transparent;
    border-right: 2px solid #000;
    border-top: none;
    border-bottom: none;
    margin-right: 5px;
    margin-left: 15px;
}

.label-3 h1 {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    font-weight: 200;
}

.label-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    background-color: transparent;
    border-right: 2px solid #000;
    border-top: none;
    border-bottom: none;
    margin-right: 5px;
    margin-left: 15px;
}

.label-4 h1 {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    font-weight: 200;
}

.label-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    margin-right: 5px;
}

.label-5 h1 {
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
    font-weight: 200;
}

.request-list {
    height: 5%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: none;
}